<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./user2.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form" action="/biodata/create" method="POST">
        <h1>Create Bio.</h1>
        <label for="name"></label>
        <input type="text" class="form-control" placeholder="name" class="usr" />
        <label for="company"></label>
        <input type="text" class="form-control" placeholder="company" class="usr" />
        <label for="description"></label>
        <input type="text" class="form-control" placeholder="description" class="usr" />
        <button class="btn" value="Submit">Submit</button>
      </div>
    </div>
  </body>
</html>
