@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

body {
  margin: 0;
  padding: 0;
  background: #212121;
  min-height: 100vh;
}

/* Table */
.container {
  margin: 50px auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.title {
  display: flex;
  gap: 30px;
  flex-direction: row-reverse;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  align-self: center;
}

button {
  justify-self: start;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 10px auto;
  width: 250px;
  height: 45px;
  border-style: none;
  border-radius: 10px;
  color: white;
  background-color: #212121;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), -5px -5px 15px rgba(255, 255, 255, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

button:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6), inset -2px -2px 10px rgba(255, 255, 255, 0.1);
}

table.neumorphic {
  border-radius: 20px;
  width: 800px;
  border-spacing: 0;
  font-size: 25px;
  color: white;
  text-align: center;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), -5px -5px 15px rgba(255, 255, 255, 0.3);
}

table.neumorphic th td {
  margin-top: 20px;
  font-size: 30px;
}

table.neumorphic thead {
  margin: 10px;
}

table.neumorphic > tbody > tr > td {
  padding: 20px;
  font-size: 18px;
}

table.neumorphic tr td:first-child::before {
  content: '';
  position: absolute;
  padding: 7px;
  top: 0;
}

table.neumorphic td:hover::after {
  content: '';
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), -5px -5px 15px rgba(255, 255, 255, 0.1);
}
