<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/views/dashboard.css" />
    <title>User | Create</title>
  </head>
  <body>
    <div class="container">
      <h1>User</h1>
      <div class="btn d-flex align-items-end justify-content-end">
        <button onclick="window.location.href='/user-dashboard/create';">Create New User</button>
        <button onclick="window.location.href='/biodata/create';">Create New Bio</button>
        <button onclick="window.location.href='/biodata-update'">Update Bio</button>
      </div>
      <table class="table table-dark table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(users => { %>
          <tr>
            <th><%= users.id %></th>
            <td><%= users.username %></td>
            <td><%= users.password %></td>
            <td>
              <a href="/user-update/<%= users.id %>">EDIT</a>
              <a href="/user-dashboard/delete">DELETE</a>
            </td>
          </tr>
          <tr></tr>
          <%}) %>
        </tbody>
      </table>

      <!-- <h1>Biodata</h1>
      <div class="btn d-flex align-items-end justify-content-end">
        <button onclick="window.location.href='/biodata/create';">Create New Biodata</button>
      </div>
      <table class="table table-dark table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% bio.forEach(bio => { %>
          <tr>
            <th><%= bio.id %></th>
            <td><%= bio.name %></td>
            <td><%= bio.company %></td>
            <td><%= bio.description %></td>
            <td>
              <a href="/biodata-update/<%= bio.id %>">EDIT</a>
              <a href="/user-dashboard/delete">DELETE</a>
            </td>
          </tr>
          <tr></tr>
          <%}) %>
        </tbody>
      </table> -->

      <h1>History</h1>
      <div class="btn d-flex align-items-end justify-content-end">
        <button href="/user/create">Create New History</button>
      </div>
      <table class="table table-dark table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">gameTitle</th>
            <th scope="col">score</th>
            <th scope="col">time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% hist.forEach(hist => { %>
          <tr>
            <th><%= hist.id %></th>
            <td><%= hist.gameTitle %></td>
            <td><%= hist.score %></td>
            <td><%= hist.time %></td>
            <td>
              <a href="/history-update/<%= hist.id %>">EDIT</a>
              <a href="/user-dashboard/delete">DELETE</a>
            </td>
          </tr>
          <tr></tr>
          <%}) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
