<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/user2.css" />
    <title>Create New History</title>
  </head>
  <body>
    <div class="container">
      <div class="form" action="/history/create" method="POST">
        <h1>Create History.</h1>
        <label for="gameTtile"></label>
        <input type="text" placeholder="gameTitle" class="usr" />
        <label for="score"></label>
        <input type="text" placeholder="score" class="usr" />
        <label for="time"></label>
        <input type="text" placeholder="time" class="usr" />
        <input type="button" class="btn" value="Submit" />
      </div>
    </div>
  </body>
</html>
