<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="user1.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form" action="/biodata-update/<%= bio.id %>" method="POST">
        <h1>Update Biodata.</h1>
        <label for="name"></label>
        <input type="text" placeholder="Name" class="usr" value="<%= bio.name %>" />
        <label for="company"></label>
        <input type="text" placeholder="Company" class="psd" value="<%= bio.company %>" />
        <label for="description"></label>
        <input type="text" placeholder="Description" class="psd" value="<%= bio.description %>" />
        <input type="button" class="btn" value="Submit" />
      </div>
    </div>
  </body>
</html>
