<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="user1.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form" action="/user-update/<%= users.id %>" method="POST">
        <h1>Update User.</h1>
        <label for="username"></label>
        <input type="text" placeholder="Username" class="usr" value="<%= users.username %>" />
        <label for="password"></label>
        <input type="password" placeholder="Password" class="psd" value="<%= users.password %>" />
        <input type="button" class="btn" value="Submit" />
      </div>
    </div>
  </body>
</html>
