<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./user1.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <form class="form" action="/user-dashboard/create" method="post">
        <h1>Create New User.</h1>
        <label for="username"></label>
        <input type="text" class="form-control" placeholder="Username" class="usr" required />
        <label for="password"></label>
        <input type="password" class="form-control" placeholder="Password" class="psd" required />
        <button class="btn" value="Submit">Submit</button>
        <a href="/user-dashboard">Back</a>
      </form>
    </div>
  </body>
</html>
