@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

/* Still not quite responsive */

body {
  margin: 0;
  padding: 0;
  background: #212121;
}

.container {
  border-radius: 20px;
  width: 500px;
  margin: 50px auto;
  height: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  color: white;
  margin: 30px auto;
}

/* Input */

input {
  border: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.usr {
  border-radius: 30px;
  padding: 6px;
  width: 360px;
  height: 4ch;
  color: white;
  background-color: #212121;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1), -5px -5px 15px rgba(255, 255, 255, 0.1);
  transition: box-shadow 200ms ease-in-out;
}

.usr:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

.psd {
  border-radius: 30px;
  padding: 6px;
  width: 360px;
  height: 4ch;
  color: white;
  background-color: #212121;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1), -5px -5px 15px rgba(255, 255, 255, 0.1);
  transition: all 200ms ease-in-out;
}

.psd:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

/* Button */

.btn {
  cursor: pointer;
  width: 170px;
  height: 5ch;
  margin: 25px auto;
  color: white;
  background: #212121;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1), -3px -3px 10px rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  transition: all 100ms ease-in-out;
}

.btn:hover {
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.btn:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6), inset -2px -2px 10px rgba(255, 255, 255, 0.1);
}
